<div class="legion-header" id="home">
    <div class="top-menu">
        <div class="legion-header-logo">
            <img src="https://p1-ofp.static.pub/ShareResource/legion/legion-2023-imgs/lenovo-legion-wordmark-rev-20230221-202749.png">
        </div>
        <div class="legion-header-nav">
            <a (click)="toHome()" href="#">Home</a>
            <a (click)="toSpecs()" href="#">Specs</a>
            <a (click)="toFeatures()" href="#">Features</a>
            <a (click)="toReviews()" href="#">Reviews</a>
        </div>
        <div class="legion-header-button">
            <button>Buy Now</button>
        </div>
    </div>
    <main-header></main-header>
</div>