<div class="footer">
    <div class="footer-top">
        <div class="footer-container-1">
            <h2>Lenovo Legion</h2>
            <p>Techmate provides innovative<br>computing solutions designed to<br>enhance your digital life and<br>productivity.</p>
        </div>
        <div class="footer-container-2">
            <h2>Explore</h2>
            <p>FAQ</p>
            <p>About</p>
            <p>Careers</p>
            <p>Contact</p>
        </div>
        <div class="footer-container-3">
            <h2>Contact</h2>
            <p>support@legion.com</p>
            <p>+1 234 567 8900 </p>
        </div>
    </div>
    <div class="line"></div>
    <div class="footer-bottom">
        <div>
            <p>© 2023 Techmate we adore our users!</p>
        </div>
        <div>
            <p>Terms & Conditions , Privacy Policy</p>
        </div>
    </div>
</div>