<div id="reviews">
    <div class="review-head">
        <h1>Reliable and Trusted</h1>
        <p>Our clients attest to the exceptional quality and reliability of our laptops, ensuring satisfaction with
            every purchase.</p>
    </div>
    <div class="relative-review-container">
        <div class="review-container">
            <div class="review-title">
                <p>The performance is extraordinary, and the <br>customer service is impeccable. Absolutely the <br> best
                choice!</p>
            </div>
            <div class="review-1">
                <div class="human">
                    <div class="human-photo">
                        <img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707523200&semt=ais">
                    </div>
                    <div class="human-review-1">
                        <p>John Doe</p>
                        <div>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                        </div>
                    </div>
                </div>
                <div>
                    <fa-icon [icon]="quoteRight" style="color: white; font-size: 50px;"></fa-icon>
                </div>
            </div>

        </div>
        <div class="review-container">
            <div class="review-title">
                <p>After upgrading to Techmate, my productivity has<br>skyrocketed. Unbeatable performance and quality!</p>
            </div>
            <div class="review-1">
                <div class="human">
                    <div class="human-photo">
                        <img src="https://img.freepik.com/free-photo/close-up-shot-pretty-woman-with-perfect-teeth-dark-clean-skin-having-rest-indoors-smiling-happily-after-received-good-positive-news_273609-1248.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707523200&semt=sph">
                    </div>
                    <div class="human-review-1">
                        <p>Sara Li</p>
                        <div>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                            <fa-icon [icon]="star" style="color:#FFC250;"></fa-icon>
                        </div>
                    </div>
                </div>
                <div>
                    <fa-icon [icon]="quoteRight" style="color: white; font-size: 50px;"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>