<div class="legion-main-3" id="features">
    <div class="service">
        <h1>Select Your Service</h1>
    </div>
    <div class="service-main">
        <div class="service-column-1">
            <div class="service-container">
                <div class="circle">
                    <fa-icon [icon]="services[0].icon" style="color: #FC4B37;"></fa-icon>
                </div>
                <h3>{{services[0].title}}</h3>
                <p>{{services[0].description}}</p>
            </div>
            <div class="service-container">
                <div class="circle">
                    <fa-icon [icon]="services[1].icon" style="color: #FC4B37;"></fa-icon>
                </div>
                <h3>{{services[1].title}}</h3>
                <p>{{services[1].description}}</p>
            </div>
            <div class="service-container">
                <div class="circle">
                    <fa-icon [icon]="services[2].icon" style="color: #FC4B37;"></fa-icon>
                </div>
                <h3>{{services[2].title}}</h3>
                <p>{{services[2].description}}</p>
            </div>
        </div>
        <div class="service-column-1">
            <div class="service-container">
                <div class="circle">
                    <fa-icon [icon]="services[3].icon" style="color: #FC4B37;"></fa-icon>
                </div>
                <h3>{{services[3].title}}</h3>
                <p>{{services[3].description}}</p>
            </div>
            <div class="service-container">
                <div class="circle">
                    <fa-icon [icon]="services[4].icon" style="color: #FC4B37;"></fa-icon>
                </div>
                <h3>{{services[4].title}}</h3>
                <p>{{services[4].description}}</p>
            </div>
            <div class="service-container">
                <div class="circle">
                    <fa-icon [icon]="services[5].icon" style="color: #FC4B37;"></fa-icon>
                </div>
                <h3>{{services[5].title}}</h3>
                <p>{{services[5].description}}</p>
            </div>
        </div>
        <div class="btn">
            <button>Get Now</button>
        </div>
    </div>
</div>
